@{
    ViewData["Title"] = "Feedback";
}

<link rel="stylesheet" href="~/css/adrian-modulos.css" />

<div class="container" style="padding: 40px 0;">
    <div class="module-block">
        <h1 class="module-title">Feedback y Encuestas</h1>

        <div class="module-actions" style="margin-bottom: 10px;">
            <a href="/Home/Index" class="module-btn">Volver al inicio</a>
        </div>
    </div>

    <div style="margin-top: 30px;">
        @await Html.PartialAsync("~/Views/Feedback/_FeedbackAdmin.cshtml")
    </div>

    <div style="margin-top: 30px;">
        @await Html.PartialAsync("~/Views/Feedback/_FeedbackEncuestas.cshtml")
    </div>

    <div style="margin-top: 30px;">
        @await Html.PartialAsync("~/Views/Feedback/_FeedbackProfesor.cshtml")
    </div>

    <div style="margin-top: 30px;">
        @await Html.PartialAsync("~/Views/Feedback/_FeedbackUsuario.cshtml")
    </div>
</div>