@{
    ViewData["Title"] = "Notificaciones";
}

<link rel="stylesheet" href="~/css/adrian-modulos.css" />

<div class="container" style="padding: 40px 0;">
    <div class="dashboard-block">
        <h1 class="page-title">Notificaciones Automáticas</h1>

        <div class="action-buttons" style="margin-bottom: 10px;">
            <a href="/Home/Index" class="dashboard-mini-btn">Volver al inicio</a>
        </div>
    </div>

    <div style="margin-top: 30px;">
        @await Html.PartialAsync("~/Views/Notificaciones/_NotificacionesAdmin.cshtml")
    </div>

    <div style="margin-top: 30px;">
        @await Html.PartialAsync("~/Views/Notificaciones/_NotificacionesProfesor.cshtml")
    </div>

    <div style="margin-top: 30px;">
        @await Html.PartialAsync("~/Views/Notificaciones/_NotificacionesUsuario.cshtml")
    </div>
</div>