@{
    ViewData["Title"] = "Progreso";
}

<link rel="stylesheet" href="~/css/adrian-modulos.css" />

<div class="container" style="padding: 40px 0;">
    <div class="page-header">
        <h1>Progreso Técnico del Alumno</h1>
        <p>Panel general del módulo 16.</p>
    </div>

    <div class="action-row" style="margin-bottom: 30px;">
        <a href="/Home/Index" class="btn-custom">Volver al inicio</a>
    </div>

    @await Html.PartialAsync("~/Views/Progreso/_ProgresoAdmin.cshtml")

    <div style="margin-top: 30px;">
        @await Html.PartialAsync("~/Views/Progreso/_ProgresoCriteriosTecnicos.cshtml")
    </div>

    <div style="margin-top: 30px;">
        @await Html.PartialAsync("~/Views/Progreso/_ProgresoProfesor.cshtml")
    </div>

    <div style="margin-top: 30px;">
        @await Html.PartialAsync("~/Views/Progreso/_ProgresoRegistrarMetricas.cshtml")
    </div>

    <div style="margin-top: 30px;">
        @await Html.PartialAsync("~/Views/Progreso/_ProgresoUsuario.cshtml")
    </div>
</div>